/* start navbar css  */


body{
    
    width:100%;
over-flow:scroll
}



nav {
 
    border-radius:30px;
    height:100px;
    width:95%;
  direction: rtl;
   margin-left:2.5%;
   margin-top:5px;
   border :1px solid white;
   box-shadow: 5px 5px 2px 0px black inset,5px 5px 2px 0px white inset;

}

nav ul{

display:flex;
margin:0 25%;

}
.a_hov :hover
{
    animation:   anim_a_nav  7s 1;
}

nav ul a{

color:white;
font-size:20px;
box-shadow:5px 5px 5px 0 #000000 inset ;
padding-right:20px;
padding-left: 20px;
text-decoration: none;

}

nav li{
margin-right:70px;
 margin-top:30px;
    list-style: none;
}

nav ul a:hover  {


    color:wheat
}
.nav_text
{
font-size:30px;
color:white;
box-shadow: 4px 4px 20px  white inset;
position: absolute;
margin-top:20px;
margin-right:15px;
padding-right: 10px;
padding-left: 10px;
text-decoration: none;
font-family: fantasy;
}
a:hover {

    color:wheat
}





.main-list:hover .sub-list
{

display:block;
position: relative;

}
.sub-list
{
    display:block;
    background-color:rgb(10, 5, 5);
    width:120%;

    border-radius:30px;
    border:2px solid white;
    position:absolute;
    margin-right:-2px;
    top:15px;
    z-index:10;
    display:none;
    
   
}
.sub_sub_for_third_drop_down
{
    display:block;
    background-color:rgb(10, 5, 5);
    width:120%;

    border-radius:30px;

    position:absolute;
    margin-left:-22px;
    top:15px;
    z-index:10;
    display:none;
    border:2px solid white;
   
    
    
}

.third_dropdown:hover .sub_sub_for_third_drop_down
{

display:block;
position: relative;


}
.second_dropdown:hover .sub-sub2{
    display:block;
}
.sub-sub2
{
    display:block;
    background-color:rgb(10, 5, 5);
    width:120%;

    border-radius:30px;
    border:2px solid white;
   position: absolute;
    margin-left:-280px;
    left:-15px;
    top:15px;
    z-index:10;
    display:none;

}

.main-list{


}
 @keyframes anim_a_nav 
 {

0%
{
font-size:20px;


}


50%{

font-size: 30px;
background-color: white;
}





100%{
font-size:20px

}


 }


 /*@keyframes anim_border 
 {

0%
{
border-top: white;

border-right:transparent ;

border-bottom:transparent ;
border-left:transparent ;
 color:white



}



50%{
    border-top: transparent;
    
    border-right:white ;
    
    border-bottom:transparent ;
    border-left:transparent ;
    color:black
    

}


100%{
    border-top: transparent;
    
    border-right:transparent ;
    
    border-bottom:white ;
    border-left:white ;
    

}

 }


*/
@keyframes anim_a_nav 
{
0%
{
font-size:20px;


}


50%{

font-size: 30px;
background-color: white;
}





100%{
font-size:20px

}
}






}
 /* End navbar css  */


 /* Start courses text and front-end courses css  */


.coursestext
{
    background-color: #fff;

    font-size:40px;
    animation:anim_courses_text 7s infinite;
    font-weight: 500; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform:ScaleX(1.4)
    

}
.Front-End-text
{

font-size:40px;
font-family:fantasty;
font-weight:400;

text-align:center;
color:white;

}
.Back-End-text{
    font-size:40px;
font-family:fantasty;
font-weight:400;

text-align:center;
color:white;
}
.Frameworks-text
{font-size:40px;
    font-family:fantasty;
    font-weight:400;
    
    text-align:center;
    color:white;}
.card a
{
   text-decoration:none;
   
   color:white;
   margin-bottom:15px;
   border-radius:40px;
   background-color:gray;
   box-shadow: 10px 0px 0px px inset white;
   animation:anim_anchor_of_courses 7s infinite
}

 .card a:hover h1
{

    background-color: red;
    border-radius:40px
    
}
.About{



    box-shadow:5px 5px 5px 0px white inset;
    margin-right:40px;
    width:80%;
    margin-left:50px;
}
.About h3 
{
    padding-right:30px;
    padding-top:30px;
    padding-left:30px;
  
}
.About p
{
    padding:10px; 
}
a:hover  button{

  box-shadow:10px 10px 10px 10px red inset;
}
.About a button{

    background-color: transparent; 
    box-shadow:10px 10px 10px 0px white inset;
    margin-left:5%;
    height:60px;
   color:black;
   font-weight:800;
   font-size:larger;

}

@keyframes anim_About_text{

0%{

color:gray;
padding:10px;

}

50%
{

color:red;
padding:20px;

}

100%
{
color:gray;
padding:10px

}
}
@keyframes anim_courses_text
{

    0%
    {
        color:transparent;
        background-color: transparent;
    }
50%{
color:black;
background-color: #fff;
}





100%{
    background-color: transparent;
color:transparent
}
}

@keyframes anim_anchor_of_courses
{

    0%
    {
        color: white;
        font-size:55px;
        font-weight:900;
      
        font-family:fantasty
    }
50%{

color:red;
font-size:70px;
font-weight:1600;

font-family:fantasty
}






100%{
    font-size:55px;
    font-weight:900;
   
    font-family:fantasty

}
   
}









  /* End courses text and front-end css css  */


